
.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    width: 600px;
  }
  
  .todo-item span {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .todo-item input[type="checkbox"] {
    margin-right: 10px;
    }
    
    .todo-item button {
    background-color: #d9534f;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  